<!DOCTYPE html>
<html lang="en">
<%- include("partials/_headerLinks.ejs", {title: 'Banner' }) %>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <%- include("partials/_headerNavbar.ejs") %>
                

                <!-- Main Sidebar Container -->
                <%- include("partials/_sidebar.ejs") %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <h3 class="display-5 my-2"> Banner</h3>
                                <form enctype="multipart/form-data" method="POST" action="/admin/create/banner/<%=isBanner.id %>">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="language">Language:</label>
                                            <select class="form-control" id="language" name="language">
                                                <% if(isBanner.lang === 'en'){ %>
                                                <option selected value="en">English</option>
                                                <option value="hi">Hindi</option>
                                                <% } else{ %>
                                                <option value="en">English</option>
                                                <option selected value="hi">Hindi</option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <label for="file">Video</label>
                                      <input type="file" class="form-control" accept="video/*"  id="image" name="image">
                                      <!-- <img style="margin-top: 10px; width: 200px;" src="http://scanzubackend.dignitech.com/<%=isBanner?.file %>" alt="img"> -->
                                      <video width="400" style="margin-top: 10px;" controls>
                                        <source src="http://scanzubackend.dignitech.com/<%=isBanner?.file %>" type="video/mp4">
                                        Your browser does not support HTML video.
                                      </video>
                                    </div>
                                    <div class="form-group">
                                        <label for="file">Title</label>
                                      <input type="text" class="form-control" value="<%=isBanner?.title %>" id="title" name="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                      <textarea class="form-control" id="description"  name="text" rows="20"><%=isBanner?.desc %></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </form>
                               
                            </div><!-- /.container-fluid -->
                        </section>
                    </div>
                    <!-- /.content-wrapper -->

                    <!-- footer  -->
                    <%- include("partials/_footer.ejs") %>

                        <!-- Control Sidebar -->
                        <aside class="control-sidebar control-sidebar-dark">
                            <!-- Control sidebar content goes here -->
                        </aside>
                        <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->


        <%- include("partials/_scripts.ejs") %>
            <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    </body>

</html>