<!DOCTYPE html>
<html lang="en">
<%- include("partials/_headerLinks.ejs", {title: 'Create Coupon' }) %>

    <body class="hold-transition sidebar-mini">

        <div class="wrapper">
            <!-- Navbar -->
            <%- include("partials/_headerNavbar.ejs") %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include("partials/_sidebar.ejs") %>

                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-12">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active">Create Coupon</li>
                                        </ol>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <div class="container">
                            <!-- <h1 class="display-5" style="margin-bottom: 30px;"> Create Coupon</h1> -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="mb-0">Create Coupon</h4>
                                            </div>
                                            <div class="card-body">
                                                <form id="couponForm">
                                                    <div class="form-group">
                                                        <label for="discountType">Discount Type</label>
                                                        <select class="form-control" id="discountType" required>
                                                            <option value="percentage">Percentage</option>
                                                            <option value="fixed">Fixed Amount</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="discountValue">Discount Value</label>
                                                        <input type="number" class="form-control" id="discountValue"
                                                            placeholder="Enter discount value" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="usageLimit">Usage Limit</label>
                                                        <input type="number" class="form-control" id="usageLimit"
                                                            placeholder="Enter usage limit" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="startDate">Start Date</label>
                                                        <input type="date" class="form-control" id="startDate" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="expirationDate">Expiration Date</label>
                                                        <input type="date" class="form-control" id="expirationDate"
                                                            required>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary"
                                                        style="margin-bottom: 24px;">Create Coupon</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->

                    <!-- footer  -->
                    <%- include("partials/_footer.ejs") %>

                        <!-- Control Sidebar -->
                        <aside class="control-sidebar control-sidebar-dark">
                            <!-- Control sidebar content goes here -->
                        </aside>
                        <!-- /.control-sidebar -->
        </div>

        <%- include("partials/_scripts.ejs") %>

            <script>
                document.getElementById('couponForm').addEventListener('submit', function (event) {
                    event.preventDefault();

                    const couponData = {
                        // code: document.getElementById('code').value,
                        discountType: document.getElementById('discountType').value,
                        discountValue: document.getElementById('discountValue').value,
                        usageLimit: document.getElementById('usageLimit').value,
                        // perCustomerLimit: document.getElementById('perCustomerLimit').value,
                        startDate: document.getElementById('startDate').value,
                        expirationDate: document.getElementById('expirationDate').value,
                    };
                    
                    if(couponData.discountType === "percentage" && couponData.discountValue > 100){
                       return alert('Discount Value must be less than 100%')
                    }

                    axios.post('/admin/coupon/create', couponData)
                        .then(response => {
                            return window.location.href = '/admin/coupon/all'
                        })
                        .catch(error => {
                            console.error(error);
                            return window.location.href = '/admin/coupon/all'
                        });

                });

            </script>

    </body>

</html>