<!DOCTYPE html>
<html lang="en">
<%- include("partials/_headerLinks.ejs", {title: 'Update Faq' }) %>

    <body class="hold-transition sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <!-- Navbar -->
            <%- include("partials/_headerNavbar.ejs") %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include("partials/_sidebar.ejs") %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <h3 class="display-5 my-2"> Update FAQ</h3>
                                <form method="POST" action="/admin/faq/update/<%=faq.id%>" class="my-3">
                                    <div class="form-group">
                                        <label for="language">Language:</label>
                                        <select class="form-control" id="language" name="language">
                                            <% if(faq.lang === 'en'){ %>
                                            <option selected value="en">English</option>
                                            <% } else{ %>
                                            <option selected value="hi">Hindi</option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="faqHeading">Heading:</label>
                                        <input type="text" class="form-control" id="faqHeading" name="heading" value="<%=faq.heading%>" placeholder="Enter FAQ Heading" required>
                                      </div>
                                    <div class="form-group">
                                        <label for="faqHeading">Description :</label>
                                      <textarea class="form-control my-4" id="description" name="description"  rows="10"><%=faq.desc %></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                  </form>
                               
                            </div><!-- /.container-fluid -->
                        </section>
                    </div>
                    <!-- /.content-wrapper -->

                    <!-- footer  -->
                    <%- include("partials/_footer.ejs") %>

                        <!-- Control Sidebar -->
                        <aside class="control-sidebar control-sidebar-dark">
                            <!-- Control sidebar content goes here -->
                        </aside>
                        <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->


        <%- include("partials/_scripts.ejs") %>
            <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    </body>

</html>