<!DOCTYPE html>
<html lang="en">
<%- include("partials/_headerLinks.ejs", {title: 'Social Link' }) %>

    <body class="hold-transition sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <!-- Navbar -->
            <%- include("partials/_headerNavbar.ejs") %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include("partials/_sidebar.ejs") %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <h3 class="display-5 my-2">Add Social Link</h3>
                                <form enctype="multipart/form-data" method="POST" action="/admin/create/social/link">
                                    <div class="form-group">
                                        <label for="file">Icon</label>
                                      <input type="file" class="form-control" id="imageInput" name="image" onclick="previewImage()">
                                      <div style="margin-top: 10px;" id="imagePreview"></div>
                                       
                                    </div>
                                    <div class="form-group">
                                        <label for="file">Name</label>
                                      <input type="text" class="form-control" id="name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="file">Link</label>
                                      <input type="text" class="form-control" id="link" name="link">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </form>
                               
                            </div><!-- /.container-fluid -->
                        </section>
                    </div>
                    <!-- /.content-wrapper -->

                    <!-- footer  -->
                    <%- include("partials/_footer.ejs") %>

                        <!-- Control Sidebar -->
                        <aside class="control-sidebar control-sidebar-dark">
                            <!-- Control sidebar content goes here -->
                        </aside>
                        <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->


        <%- include("partials/_scripts.ejs") %>
            <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    </body>

</html>