<!DOCTYPE html>
<html lang="en">
<%- include("partials/_headerLinks.ejs", {title: 'User' }) %>

    <body class="hold-transition sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <!-- Navbar -->
            <%- include("partials/_headerNavbar.ejs") %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include("partials/_sidebar.ejs") %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="tab-pane" id="tab_2"> <!-- Tab 2 start-->
                                        <div class="col-md-12">

                                            <!-- Profile Image -->

                                            <!-- /.card -->

                                            <!-- About Me Box -->
                                            <div class="card card-primary">
                                                <div class="card-header">
                                                    <h3 class="card-title">About User</h3>
                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <strong><i class="fas fa-user mr-1"></i>Name</strong>
                                                            <p class="text-muted"><%=user?.name %></p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <strong><i class="fas fa-envelope mr-1"></i>Email</strong>
                                                            <% if(user?.email) { %>
                                                            <p class="text-muted"><%=user?.email %></p>
                                                            <% }else{ %>
                                                                <p class="text-muted"><%="N/A" %></p>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                            
                                                    <hr>
                                            
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <strong><i class="fas fa-phone mr-1"></i>Mobile Number</strong>
                                                            <p class="text-muted"><%=user?.phoneNumber %>
                                                                <% if(user?.isVerified){ %>
                                                                <span class="badge badge-success mx-2">Verified</span</p>
                                                                    <% }else{ %>
                                                                        <span class="badge badge-danger">Not Verified</span>
                                                                        <% } %>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <strong><i class="fas fa-book mr-1"></i>Status</strong>
                                                            <p class="text-muted"><%=user?.userStatus %></p>
                                                        </div>
                                                    </div>
                                            
                                                    <hr>
                                            
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <strong><i class="fas fa-pencil-alt mr-1"></i>Created On</strong>
                                                            <p class="text-muted">
                                                                <%= new Date(user?.createdAt).toLocaleString("en-US", { month: "short", day: "numeric", year: "numeric" }) %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->

                                </div>
                                <!-- /.col -->
                            </div>
                            

                        </div><!-- /.container-fluid -->
                        </section>
                    </div>
                    <!-- /.content-wrapper -->

                    <!-- footer  -->
                    <%- include("partials/_footer.ejs") %>

                        <!-- Control Sidebar -->
                        <aside class="control-sidebar control-sidebar-dark">
                            <!-- Control sidebar content goes here -->
                        </aside>
                        <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->


        <%- include("partials/_scripts.ejs") %>
            <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
            <!-- <script type="text/javascript" src="/js/ck-editor.js"></script> -->
    </body>

</html>