<!DOCTYPE html>
<html lang="en">
<%- include("partials/_headerLinks.ejs", {title: 'Products' }) %>

    <body class="hold-transition sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <!-- Navbar -->
            <%- include("partials/_headerNavbar.ejs") %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include("partials/_sidebar.ejs") %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Users</h1>
                                    </div>
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active">Users</li>
                                        </ol>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header">
                                    <!-- <h3 class="card-title">Product</h3> -->

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"
                                            title="Remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body p-3">
                                    <table class="table table-striped projects" id="addPagination">
                                        <thead>
                                            <tr>
                                                <th style="width: 6%">
                                                    Name
                                                </th>
                                                <th style="width: 6%">
                                                    Email
                                                </th>
                                                <th style="width: 5%">
                                                    Mob.No
                                                </th>
                                                <th style="width: 4%" class="text-center">
                                                    Status
                                                </th>
                                                <th style="width: 4%">
                                                    Created On
                                                </th>
                                                <th style="width: 10%">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% users.forEach((user)=>{ %>
                                                <tr>
                                                    </td>
                                                    <td>
                                                        <span>
                                                         <%= user?.name %>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <%if(user.email){ %>
                                                        <span><%=user.email %></span>
                                                        <% }else{ %>
                                                            <span><%="N/A" %></span>
                                                            <% } %>
                                                    </td>
                                                    <td>
                                                        <%if(user.mobileNumber){ %>
                                                        <span><%=user.phoneNumber %></span>
                                                        <% }else{ %>
                                                            <span><%="N/A" %></span>
                                                            <% } %>
                                                    </td>
                                                    <td class="project-state">
                                                        <%if(user?.userStatus === 'Active'){ %>
                                                        <span class="badge badge-success">Active</span>
                                                        <% }else{ %>
                                                            <span class="badge badge-danger">Inactive</span>
                                                            <% } %>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-secondary">
                                                            <% if(user.createdAt) {%>
                                                                <%= new Date(user.createdAt).toLocaleString("en-US", {
                                                                    month: "short" , day: "numeric" , year:"numeric" })
                                                                    %>
                                                                    <% }else{ %>
                                                                        <%="N /A" %>
                                                                            <% } %>
                                                        </span>
                                                    </td>
                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm" style="width: 90px !important;" href="/admin/user/<%=user.id%>">
                                                            <i class="fas fa-folder">
                                                            </i>
                                                            View
                                                        </a>
                                                        <% if(user.userStatus == 'Active'){ %>
                                                        <a class="btn btn-danger btn-sm" style="width: 90px !important;" type="button" href="/admin/user/deactivate/<%=user.id %>">
                                                            <i class="fas fa-pencil-alt">
                                                            </i>
                                                            Inactive
                                                        </a>

                                                        <% }else{ %>
                                                            <a class="btn btn-success btn-sm" style="width: 90px !important;" type="button" href="/admin/user/activate/<%=user.id %>">
                                                                <i class="fas fa-pencil-alt">
                                                                </i>
                                                                Active
                                                            </a>
                                                            <% } %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->

                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->

                    <!-- footer  -->
                    <%- include("partials/_footer.ejs") %>

                        <!-- Control Sidebar -->
                        <aside class="control-sidebar control-sidebar-dark">
                            <!-- Control sidebar content goes here -->
                        </aside>
                        <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <!-- Add Modal -->

        <%- include("partials/_scripts.ejs") %>
        <script>
      
        </script>


    </body>

</html>